.login {
  background-color: aquamarine;
  padding: 50px;
  width: 300px;
  height: 100px;
  text-align: center;
  margin-left: -200px;
  margin-top: -150px;
  position: absolute;
  top: 50%;
  left: 50%;

  border-top: var(--borde);
  border-bottom: var(--borde);
  border-top-right-radius: 50px;
  border-bottom-left-radius: 20px;

  transition-timing-function: linear;
  transition-duration: 1s;
  transition-delay: 2s;
  transition-property: width, transform;
}
.login-font {
  text-align: center;
  position: absolute;
  top: 22%;
  left: 47%;
}

p::first-letter {
  text-transform: uppercase;
}

.board {
  width: 100%;
  text-align: center;
  position: absolute;
  border: 2px;
}

table {
  height: 1px;
}

th {
  background-color: #F0D290; 
  color: white;
  height: 100%;
}

#tableContent {
  height: 100%;
  border: 2px solid #F0D290;
}

#tableContent td button{
  color: red;
}



/* NAVBAR */


.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A3423C;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: #DE834D;
}



/* SIDE BAR */

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #781D42;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav button {
  padding: 0;
  width: 100%;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav p {
  padding: 0px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

.sidenav button:hover {
  color: #f1f1f1;
}

.sidenav #create_new_board {
  color: red;
}

#mainTable{
  width:100%;
  border-style: solid;
  border-color: #F0D290;
  border-collapse: collapse;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav button {font-size: 18px;}
}

/* MAIN SCREEN */
.main {
  margin-left: 150px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 0px;
  width: 100%;
  border-collapse: collapse;
}

.navbar {
  padding: 0%;
  margin: 0%;
  border-collapse: collapse;
}

body {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  background-color: #e5d6b6;
}
