/* General styles */
body {
    margin: 0;
}

.content {
    padding-top: 37px;
}

.current-workflow {
    position: relative;
}

.workflow {
    display: flex;
}

.addColumnButton {
    min-width: 50px;
}

/* NAVIGATION BAR */
nav {
    width: 100%;
    float: left;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    position: fixed;
}

.menu { 
    margin: 0;
    padding: 8px;
    height: 21px;
    background-color: #02E8E8;

}

.menu li {
    display: inline;

    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

/* Table */
table, th, td {
    border-collapse: collapse;
    border: 2px solid #004864;
    height: 100%;
    

}

table{
    box-shadow: 4px 4px 3px rgb(129, 129, 129);
    margin-left: 50px;
}

th, td {
    min-width: 300px;
}

th {
    background-color: #004864;
    height: 30px;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

/* COLUMNS AND STICKY NOTES */
.sticky-area {
    padding: 1rem;
    min-height: 500px;
}

#body-row td button {
    width: 100%;
}

.sticky-note {
    padding: 10px;
    margin: 10px;
    resize: both;
    overflow: auto;

    min-height: 114px;
    min-width: 142px;

    max-height: 208px;
    max-width: 331px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    box-shadow: 4px 4px 3px rgb(129, 129, 129);

    transition: 0.2s;
}

.sticky-note:hover {
    box-shadow: 6px 6px 3px rgb(129, 129, 129);
}

.sticky-note:active {
    transform: translateY(-10px);
    border: 1px solid rgba(206, 15, 15, 0.2);
}

.sticky-note p {
    width: 100%;
    cursor: text;
}

.sticky-note button, input {
    max-width: 60px;
    max-height: 30px;
}

.sticky-note *:not(:first-child) {
    flex: 1;
}

.draggable { 
    cursor: move;
}

.draggable.dragging {
    opacity: .5;
}

button
{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:4px;
	border:1px solid #3d3d3d;
	display:inline-block;
	cursor:pointer;
	color:#1b1b1b;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:2px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

#workflowName, #workflowDescription
{
    margin-left: 50px;
}