/* General styles */
body {
    margin: 0;
}

.content {
    padding-top: 37px;
}

.current-workflow {
    position: relative;
}

.workflow {
    display: flex;
}

.addColumnButton {
    min-width: 50px;
}

/* NAVIGATION BAR */
nav {
    width: 100%;
    float: left;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    position: fixed;
}

.menu { 
    margin: 0;
    padding: 8px;
    height: 21px;
    background-color: rgb(140, 230, 226);
}

.menu li {
    display: inline;
}

/* Table */
table, th, td {
    border-collapse: collapse;
    border: 2px solid rgb(111, 155, 184);
    height: 100%;
}

th, td {
    min-width: 300px;
}

th {
    background-color: rgb(111, 155, 184);
    height: 30px;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

/* COLUMNS AND STICKY NOTES */
.sticky-area {
    padding: 1rem;
}

#body-row td button {
    width: 100%;
}

.sticky-note {
    padding: 10px;
    margin: 3px;
    background-color: yellow;
    resize: both;
    overflow: auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    transition: 0.2s;
}

.sticky-note:hover {
    box-shadow: 2px 2px rgb(129, 129, 129);
}

.sticky-note:active {
    transform: translateY(-10px);
    border: 1px solid rgba(206, 15, 15, 0.2);
}

.sticky-note p {
    width: 100%;
    cursor: text;
}

.sticky-note * {
    display: inline-block;
}

.sticky-note *:not(:first-child) {
    flex: 1;
}

.draggable { 
    cursor: move;
}

.draggable.dragging {
    opacity: .5;
}